* {
    font-family: monospace;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    padding: 12px 16px;
    text-shadow: 0 1px 45px rgba(0,0,0,0.9), 0 1px 40px rgba(0,0,0,0.7), 0 1px 30px rgba(0,0,0,0.9), 0 1px 4px rgba(0,0,0,0.4);   
}
