* {
    font-family: monospace;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    padding: 12px 16px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9), 1px 1px 3px rgba(0, 0, 0, 0.8);
}
