[Desktop Entry]
Hidden=true
Encoding=UTF-8
Name=HuionTablet
Comment=Huion driver
Exec=/usr/lib/huiontablet/huiontablet.sh
Icon=/usr/share/icons/huiontablet.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Categories=Application;Utility;Qt;
StartupNotify=true
Name[en_US]=HuionTablet
NoDisplay=false
SingleMainWindow=true
